openapi: 3.0.3
info:
  title: Etiquetas Prom API
  version: 1.0.0
  description: API interna para SaaS de campanhas e etiquetas promocionais.
servers:
  - url: https://api.exemplo.pt/api
paths:
  /health:
    get:
      summary: Healthcheck
      responses:
        '200': { description: OK }
  /artigos:
    get:
      summary: Pesquisa controlada de artigos
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: q
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0 }
      responses:
        '200': { description: Lista de artigos }
  /admin/organizations:
    get:
      summary: Lista organizações para admin plataforma
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Lista de organizações }
    post:
      summary: Cria organização
      security: [{ bearerAuth: [] }]
      responses:
        '201': { description: Organização criada }
  /admin/audit-logs:
    get:
      summary: Lista audit logs
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Lista de audit logs }
  /admin/jobs:
    get:
      summary: Lista jobs
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Lista de jobs }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
